<button class="ml-3">Inserir</button>
<button class="ml-3" (click)="removeRow()">Remover</button>
<button class="ml-3" (click)="resetTableDefault()">Limpar</button>
<button class="ml-3" (click)="changeOrderValue()">Ordenar</button>

<div class="d-flex align-items-center">
  <app-search class="me-3" (searchQuery)="searchItem($event)"> </app-search>
  <button class="btn btn-primary">Pesquisar</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">CEP</th>
      <th scope="col">RUA</th>
      <th scope="col">NUMERO</th>
      <th scope="col">CIDADE</th>
      <th scope="col">ESTADO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of myTable">
      <th scope="row">
        {{ item.id }}
      </th>
      <td>{{ item.cep }}</td>
      <td>{{ item.road }}</td>
      <td>{{ item.number }}</td>
      <td>{{ item.city }}</td>
      <td>{{ item.state }}</td>
    </tr>
  </tbody>
</table>
